In [ ]:
print("Thanakrit Somsuk")
print("Student Code: 6412732104")